<div class="jumbotron">
  <h1 class="display-4">Artículos</h1>
  <form novalidate class="text-center">
    <div class="row">
      <div class="col">
        <h6 class="text-left gray">Nombre:</h6>
        <input type="text" name="nombre" autocomplete="off" class="form-control shadow p-3 inputPaciente" placeholder="Nombre del paciente"
          required>
      </div>
      <div class="col">
        <h6 class="text-left gray">Nit:</h6>
        <input type="text" name="numero" class="form-control shadow p-3 inputPaciente"
          placeholder="Numero de identificación" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="gray text-left">Valor:</h6>
        <input type="text" name="apellido" class="form-control shadow p-3 inputPaciente"
          placeholder="Apellidos del paciente" required>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="gray text-left">Caracteristicas:</h6>
        <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="{{'1.-\n2.-\n3.-'}}" rows="3"></textarea>
      </div>
    </div>
  </form>
  <hr class="my-4">
  <a class="btn btn-success btn-lg" href="#" role="button">Guardar</a>
  <a class="btn btn-primary btn-lg" href="#" role="button" style="margin-left: 10px;">Limpiar</a>
</div>