<div class="jumbotron">
  <h1 class="display-4">Facturas</h1>
  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="(((facturas | keys).length)*10)" [(page)]="page"></ngb-pagination>
  <div class="card" *ngFor="let fac of facturas | keys | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i = index">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3 class="card-title">Nit: {{ facturas[fac].nit }}</h3>
        </div>
        <div class="col">
          <h3 class="card-title">Fecha: {{ facturas[fac].fecha }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="card-title">Apellido: {{ facturas[fac].apellidoCli }}</h5>
        </div>
        <div class="col">
          <h5 class="card-title">Cédula: {{ facturas[fac].idCli | number }}</h5>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
        <li class="list-group-item">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Artículo</th>
                <th scope="col">Valor Unitario</th>
                <th scope="col">Nit artículo</th>
                <th scope="col">Cantidad</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{ facturas[fac].articulo }}</td>
                <td>{{ facturas[fac].valorArt | currency }}</td>
                <td>{{ facturas[fac].nombreArt }}</td>
                <td>{{ facturas[fac].cantidad }}</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <h1 class="card-title">Valor: {{ facturas[fac].valor | currency }}</h1>
            </div>
            <div class="col">
              <img style="width: 500px;height: 50px;" src="../../../../assets/qr.jpg"  alt="...">
            </div>
          </div>
        </li>
        <li class="list-group-item text-center">
          <div class="row">
            <div class="col">
              <button class="btn btn-danger" (click)="borrarFactura(fac)" style="width: 80%;"><span class="far fa-trash-alt"></span> Borrar</button>
            </div>
            <div class="col">
              <button [routerLink]="['/updateformfactura', fac]" class="btn btn-primary" style="width: 80%"><span class="fas fa-pencil-alt"></span> Editar</button>  
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
  <hr class="my-4">
  <a [routerLink]="['/formfactura', 'nuevo']" class="btn btn-primary btn-lg" href="#" role="button">Nueva factura</a>
</div>