<div class="jumbotron" style="background-color: white;padding: 10px;">
  <h1>Factura</h1>
  <form (ngSubmit)="guardar()" #forma="ngForm" novalidate class="text-center">
      <div class="row">
          <div class="col">
              <h6 class="text-left gray">NIT-Factura:</h6>
              <input [(ngModel)]="facturas.nit" type="text" autocomplete="off" name="nit"
                  class="form-control shadow p-3 inputPaciente" placeholder="000000" required>
          </div>
          <div class="col">
              <h6 class="gray text-left">Fecha:</h6>
              <input [(ngModel)]="facturas.fecha" type="date" name="fecha"
                  class="form-control shadow p-3 inputPaciente">
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="row">
                <div class="col">
                  <h6 class="gray text-left">Artículo:</h6>
              <input [(ngModel)]="facturas.articulo" type="text" autocomplete="off" name="articulo"
                  class="form-control shadow p-3 inputPaciente">
                </div>
                <div class="col">
                  <h6 class="gray text-left">Valor artículo:</h6>
              <input [(ngModel)]="facturas.valorArt" type="text" autocomplete="off" name="valorart"
                  class="form-control shadow p-3 inputPaciente">
                </div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col">
                      <h6 class="gray text-left">NIT-Articulo:</h6>
                      <input [(ngModel)]="facturas.nombreArt" type="text" autocomplete="off" name="nitart"
                  class="form-control shadow p-3 inputPaciente">
                  </div>
                  <div class="col">
                      <h6 class="gray text-left">Cantidad:</h6>
                      <input [(ngModel)]="facturas.cantidad" (input)="precio()" type="text" name="cantidad"
                          class="form-control shadow p-3 inputPaciente" placeholder="0" required>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">

          <div class="col">
              <h6 class="gray text-left">Apellido:</h6>
              <input [(ngModel)]="facturas.apellidoCli" type="text" autocomplete="off" name="apellido"
                  class="form-control shadow p-3 inputPaciente">
          </div>
          <div class="col">
              <h6 class="gray text-left">CC:</h6>
              <input [(ngModel)]="facturas.idCli" type="text" autocomplete="off" name="cc"
                  class="form-control shadow p-3 inputPaciente">
          </div>
          <div class="col">
              <h6 class="gray text-left">Valor</h6>
              <input [(ngModel)]="facturas.valor" type="text" name="valortotal"
                  class="form-control shadow p-3 inputPaciente" placeholder="000000" required>
          </div>
      </div>
      <hr class="my-4">
      <button type="submit" class="btn btn-success btn-lg" href="#" role="button">Guardar</button>
      <button type="reset" class="btn btn-primary btn-lg" href="#" role="button"
          style="margin-left: 10px;">Limpiar</button>
  </form>
</div>